* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
  }
  :root{
    --headercolor: #19a28e;
    --stripcolor: #353535;
    --blue : #2a2a64;
    --red: #eb7a7a;
    --brown:  #6c3d3d;
  }

  body {
    font-family: "Niramit", sans-serif;
    background-color: #e5c9f0;
  }

  .heading {
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 3rem;
    padding: 10px;
    font-family: 'Rampart One', cursive;
    color: rgb(85, 9, 126);
  }

  .box {
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 0%;
  }

  .box1 {
    border: solid black 1px;
    width: 65%;
    background-color: white;
    border-radius: 14px;
    background-color: rgba(0, 0, 0, 0.704);
    color: white;
    overflow-y: auto;
    max-height: 32rem;
   
  }
  .box1::-webkit-scrollbar {
    display: none;
  }

  .box2 {
    border: solid black 1px;
    margin-left: 3%;
    width: 100%;
    border-radius: 14px;
    background-color: rgb(85, 9, 126);
    color: white;
    max-height: 32rem;
    overflow-y: auto;
    
  }
  .box2::-webkit-scrollbar
  {
    display: none;
  }

  .form1 {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
  }
  input{
    outline: none;
    padding: 1px 8px;
  }

  .personal {
    text-align: center;
    margin-top: 2%;
    font-size: large;
  }

  .form_text {
    padding: 2% 4%;
    display: flex;
    justify-content: space-between;
  }

  .regular {
    width: 55%;
    height: 1.5rem;
  }

  .photo {
    text-align: center;
    margin-top: 10px;
    padding: 2px 2px;
  }
  .p_button {
    margin-top: 90px;
    margin-left: 12px;
    font-family: "Niramit", sans-serif;
  }
  .all_boxes {
    border: solid black 1.2px;
    border-radius: 3px;
    font-family: "Niramit", sans-serif;
    font-size: 0.9rem;
  }

  .edu1 {
    padding: 2% 3%;
    border: 1px solid black;
    margin: 2% 2%;
    background-color: rgba(236, 232, 232, 0.659);
    color: rgb(26, 22, 22);
    border-radius: 2px;
  }

  .acc1 {
    display: none;
  }

  .arrow1 {
    padding-top: 6px;
    cursor: pointer;
    transition: color 0.2s ease-in-out, transform 0.4s ease-in-out;
  }
  .arw_clr
  {
    color: grey;
  }

  .arrow1:hover {
    color: grey;
  }

  .active {
    display: block;
  }

  .top {
    margin-top: 4%;
  }

  .regular1 {
    width: 60%;
    height: 1.5rem;
  }

  .regular2 {
    width: 70%;
    margin-bottom: 2%;
    margin-left: 15%;
  }

  .form2 {
    padding: 4% 3%;
    border: 1px solid black;
    margin: 2% 2%;
    background-color: rgba(236, 232, 232, 0.659);
    color: rgb(26, 22, 22);
    border-radius: 2px;
  }

  .heads {
    margin: 2% 10%;
    font-size: 1.4rem;
  }

  .sch_txt {
    padding-bottom: 2%;
    font-size: 1rem;
  }

  .sch_flex {
    display: flex;
    justify-content: space-between;
    width: 98%;
  }

  .align {
    display: flex;
    justify-content: space-between;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
  }

  .button {
    background-color: rgba(236, 232, 232, 0.659);
    border: solid black 1px;
    border-radius: 100px;
    padding: 1% 4%;
    cursor: pointer;
    font-family: "Niramit", sans-serif;
    margin-bottom: 20px;
  }

  .button:hover {
    background-color: rgba(0, 0, 0, 0.507);
    color: rgb(255, 255, 255);
    border: solid white 1px;
  }

  ::placeholder {
    font-family: "Niramit";
    font-size: 0.8rem;
    text-align: center;
    color: rgb(111, 112, 112);
  }

  .line {
    background-color: rgb(232, 232, 232);
    height: 0.5px;
    margin: 2% 4%;
  }

  .new_class {
    display: flex;
  }

  .first_plus,
  .second_plus {
    margin: auto;
    text-align: center;
    width: 15%;
    font-size: 0.8rem;
    cursor: pointer;
    border: 1px solid black;
    padding: 0% 1.6%;
    border-radius: 3000px;
    background-color: rgba(236, 232, 232, 0.659);
    color: black;
  }

  .first_plus:hover,
  .second_plus:hover {
    background-color: rgba(0, 0, 0, 0.385);
    color: white;
    border: solid white 1px;
  }
  .user_img {
    display: flex;
    justify-content: space-between;
  }
  #user_image {
    border-radius: 100%;
    margin: 4%;
    aspect-ratio: 1;
    width: 100px;
  }
  #user_email
  {
    text-transform: lowercase;
  }

  /* Resume style */
  .bg {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background-color: rgba(73, 81, 99, 0.858);
    position: absolute;
    top: 0;
    left: 0;
    
  }

  #resume {
    margin: 0 auto;
    width: 595px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    aspect-ratio: 210/294;
    font-family: "Nokora", sans-serif;
    background-color: white;
    display: flex;
    text-transform: capitalize;
  }
  .nav_bar
  {
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    height: 64px;
    display: flex;
    background-color: rgb(15,20,30);
    color: white;
    justify-content: space-between;
    padding: 0px 32px;
    align-items: center; 
  }
  .nav_text
  {
    font-size: 20px;
  }
  .download
  {
    font-family: "Nokora", sans-serif;
    background-color: rgb(36, 36, 209);
    color: white;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 5px;
    border: 0px;
  }
  .download:hover{
    color:rgb(36, 36, 209);
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  .back
  {
    font-size: 20px;
  }
  .back:hover{
    color:rgb(140, 137, 137);
    cursor: pointer;
    transition: 0.3s;
  }

  .header {
    margin-top: 2%;
    width: 100%;
    height: 15%;
    background-color: var(--headercolor);
  }

  .name {
    padding-top: 4%;
    font-size: 2.3rem;
    color: white;
    margin-left: 20px;
    font-weight: bold;
  }

  .strip {
    background-color: var(--stripcolor) ;
    height: 100%;
    width: 35%;
  }

  .image {
    width: 60%;
    aspect-ratio: 1;
    margin: auto;
    border-radius: 100%;
    margin-top: 12%;
  }

  .title {
    margin-left: 20px;
    font-size: 22px;
    color: white;
  }

  .details {
    padding-left: 12%;
    font-size: 20px;
    color: rgb(200, 200, 200);
    font-weight: bold;
    margin-top: 15%;
    font-family: "Genos", sans-serif;
  }

  .info {
    color: white;
    font-size: 12px;
    padding: 5% 12%;
  }

  .margin {
    margin-top: 15px;
  }

  .space {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .main {
    width: 65%;
    margin-top: 3%;
  }

  .label {
    font-weight: bold;
    font-family: "Genos", sans-serif;
    font-size: 18px;
    padding: 2px 4px;
    background-color: var(--headercolor);
    border-radius: 3px;
    color: white;
    margin-bottom: 10px;
    width: fit-content;
    text-transform: uppercase;
  }

  .content {
    margin-left: 20px;
    margin-top: 20px;
  }

  .parent {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .text {
    font-size: 12px;
    padding: 1%;
  }

  .bold {
    font-weight: bold;
  }

  .shift {
    margin-left: 5%;
  }
  .image_parent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hide_it {
    display: none;
  }
  .rotate_it
  {
    transform: rotate(-180deg);
  }
  .project_link
  {
    color: black;
    text-decoration: none;
    text-transform: lowercase;
    cursor: pointer;
  }

  .blue_button
  {
    background-color: var(--blue);
    color: var(--blue);
    
  }
  .c_themes
  {
    padding: 6px 4px;
    border: 2px solid;
    border-radius: 100%;
    border-color: white;
    aspect-ratio: 1;
    margin: 2px 6px;
    cursor: pointer;
    user-select: none;
  }
  .c_themes:hover
  {
    padding: 8px 6px;
    transition: 0.3s;
  }
  .red_button
  {
    background-color: var(--red);
    color:var(--red);
  }
  .green_button
  {
    background-color:var(--headercolor);
    color: var(--headercolor);
  }
  .brown_button
  {
    background-color: var(--brown);
    color: var(--brown);
  }

  /* responsiveness */
  @media screen and (max-width: 1090px)
  {
    .box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .box2, .box1{
      max-height: 40rem;
    }
    .box1{
      width: 35rem;
    }
    
    .box2{
      margin-top: 6%;
      width: 35rem;
      margin-left: 0px;
    }
  }
  